* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
    height: auto;
}

.header {
    display: flex;
    background-color: #762124;
}

.nav {
    background-color: aqua;
    width: 700px;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: pink;
    height: 120px;
    align-items: center;
}