

.city {
    width: 400px;
    height: auto;
}

.img-rounded {
    border-radius: 5px;
}

.img-circle {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.thumb {
    width: 200px;
    height: auto;
    border: 2px double rgb(177, 174, 174);
    /* brd width style color */
}

.thumb:hover {
    box-shadow: 0px 0px 2px 2px rgb(55, 186, 230);
    width: 220px;
    height: auto;
}

.card {
    width: 400px;
    height: auto;
    border: 2px solid red;
    box-shadow: 0 0 2px 2px lightgreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* 10px top bottom 20px left right */
    padding: 10px 20px;
}

.card-image {
    width: 100%;
}

.card-text {
    text-align: center;
}

.bg {
    height: 800px;
    background-color: aquamarine;
    background-image: url(../../img/dbz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
}

.bg > p {
    color: yellow;
}